<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sassimi UI</title>
    <link rel="stylesheet" href="../dist/sassimi.css">
</head>

<body>
    <div class="generalContent">
        <!-- TYPE / FONTS / TIPOS / TIPOGRAFIA -->
        <!-- ---------------------------------------------- -->
        <section class="">
            <div class="wrapper">

                <h2 class="mt-0 ta-center">TEXT styles</h2>

                <hr>

                <div class="grid">
                    <div class="column w-50">
                        <h1>The spectacle before us was indeed sublime.</h1>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui enim, blandit in volutpat in, scelerisque eleifend nibh. Sed in lacus magna. Nullam placerat ultrices aliquet. Aenean ornare arcu non tortor tincidunt, vel placerat velit dignissim. Mauris dignissim nulla nec lacus pellentesque tincidunt.</p>

                        <h2>The spectacle before us was indeed sublime.</h2>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui enim, blandit in volutpat in, scelerisque eleifend nibh. Sed in lacus magna. Nullam placerat ultrices aliquet. Aenean ornare arcu non tortor tincidunt, vel placerat velit dignissim. Mauris dignissim nulla nec lacus pellentesque tincidunt.</p>

                        <h3>The spectacle before us was indeed sublime.</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui enim, blandit in volutpat in, scelerisque eleifend nibh. Sed in lacus magna. Nullam placerat ultrices aliquet. Aenean ornare arcu non tortor tincidunt, vel placerat velit dignissim. Mauris dignissim nulla nec lacus pellentesque tincidunt.</p>

                        <h4>The spectacle before us was indeed sublime.</h4>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui enim, blandit in volutpat in, scelerisque eleifend nibh. Sed in lacus magna. Nullam placerat ultrices aliquet. Aenean ornare arcu non tortor tincidunt, vel placerat velit dignissim. Mauris dignissim nulla nec lacus pellentesque tincidunt.</p>
                    </div>
                    <div class="column w-50">                       
                        <p>Integer ut ipsum non enim malesuada porta ut sit amet magna. Praesent tincidunt gravida nisl a tincidunt. Vestibulum massa diam, eleifend quis lacus vel, ullamcorper laoreet ex. Etiam rutrum orci eu porta egestas. Cras feugiat rhoncus justo non feugiat.</p>

                        <p>Fusce vitae tincidunt ipsum, at placerat lectus. Phasellus et nulla vitae diam dapibus mollis bibendum non nunc. Vivamus posuere vulputate commodo. Maecenas accumsan justo in varius tempus. Nullam sit amet luctus odio. Cras placerat quam quis libero bibendum, eget fermentum risus auctor. Curabitur ut aliquam ex, a consequat mauris.</p>
    
                        <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui enim, blandit in volutpat in, scelerisque eleifend nibh. Sed in lacus magna. Nullam placerat ultrices aliquet. Aenean ornare arcu non tortor tincidunt, vel placerat velit dignissim. Mauris dignissim nulla nec lacus pellentesque tincidunt.</strong></p>
    
                        <p><em>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam dui enim, blandit in volutpat in, scelerisque eleifend nibh. Sed in lacus magna. Nullam placerat ultrices aliquet. Aenean ornare arcu non tortor tincidunt, vel placerat velit dignissim. Mauris dignissim nulla nec lacus pellentesque tincidunt.</em></p>

                        <blockquote>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante. Nam dui enim.</blockquote>

                        <a href="#" title="">Lorem ipsum dolor sit amet</a>
                        
                        <div class="grid">
                            <div class="column w-50">
                                <ul>
                                    <li>List 1</li>
                                    <li>List 1</li>
                                    <li>List 1</li>
                                    <li>List 1</li>
                                </ul>
    
                                <ol>
                                    <li>List 1</li>
                                    <li>List 1</li>
                                    <li>List 1</li>
                                    <li>List 1</li>
                                </ol>
                            </div>
                            
                            <div class="column w-50">
                                <ul class="list--nostyle">
                                    <li>List 1</li>
                                    <li>List 1</li>
                                    <li>List 1</li>
                                    <li>List 1</li>
                                </ul>
    
                                <ul class="list--float">
                                    <li>List 1</li>
                                    <li>List 1</li>
                                    <li>List 1</li>
                                    <li>List 1</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <!-- LISTS / LISTAS -->
        <!-- ---------------------------------------------- -->
        <section>
            <div class="wrapper">

                <h2 class="mt-0 ta-center">LIST styles</h2>

                <hr>
    
                <div class="row">
                    <div class="col-12 col-md-2">
                        <small>unordered list</small>
                        
                    </div>
                    <div class="col-12 col-md-2">
                        <small>ordered list</small>
                        
                    </div>
                    <div class="col-12 col-md-2">
                        <small>class="list-unstyled"</small>
                        
                    </div>
                    <div class="col-12 col-md-3">
                        <small>class="list-inline"</small>
                        
                    </div>
                </div>
            </div>
        </section>
    </div>
</body>
</html>